<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">

    <!--<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

    <mat-form-field style="width: 300px; margin: 50px auto; display: block;">

      <form [formGroup]="myForm">
        <mat-form-field>
          <input type="text" matInput formControlName="namesGroup" required
                 [matAutocomplete]="autoGroup">

          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let itemGroup of dataGroupOptions | async" [label]="itemGroup.letter">
              <mat-option *ngFor="let item of itemGroup.names" [value]="item">
                {{item}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </mat-form-field>
-->

    <router-outlet></router-outlet>
  </div>
</body>
