<h1 id="tableLabel">Weather forecast</h1>

<!--<mat-form-field>
   <mat-label>
      Place
   </mat-label>
  <input matInput type="text" [matAutocomplete]="auto" />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of options">
      {{item}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>-->
<div class="container" role="main">
  <div class="row">
    <div class="col-md-12">
      <h1>Google AutoComplete Demo</h1>
    </div>
  </div>
  <form class="form-horizontal" #SearchPlacesForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-6" for="txtSearchPlaces">search places:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="txtSearchPlaces" name="txtSearchPlaces" #txtSearchPlaces="ngModel"
               [(ngModel)]="shippingAddress" placeholder="Enter places">
      </div>
    </div>
  </form>
</div>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
